## Set:
Sets are used to store multiple items in a single variable.A set is a collection which is unordered,unchangeable,unindexed and do not allow duplicate values.

In [1]:
#Create a set
set={1,3,4,'apple',6}
print(set)

{1, 3, 4, 6, 'apple'}

### Length of a set

In [2]:
set={1,3,4,'apple',6}
print(len(set))

5

In [3]:
set={1,3,4,'apple',6}
print(type(set))

<class 'set'>

### Access set items

In [4]:
set={1,3,4,'apple',6}
for i in set:
    print(i)

1
3
4
6
apple

In [5]:
#check if 3 present in the set
set={1,3,4,'apple',6}
print(3 in set)

True

In [6]:
set={1,3,4,'apple',6}
if 3 in set:
    print(True)

True

### Set Methods

#### add()
Adds an element to the set.

In [7]:
set={1,3,4,'apple',6}
set.add('cherry')
print(set)

{1, 3, 4, 6, 'cherry', 'apple'}

#### difference()
Returns a set containing the difference between two or more sets.

In [8]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
z=set1.difference(set2)
print(z)

{'apple', 4, 6}

#### difference_update
Removes the unwanted items from the original set.

In [9]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
set1.difference_update(set2)
print(set1)

{4, 6, 'apple'}

#### discard
Removes the specified item

In [11]:
set={1,3,4,'apple',6}
set.discard(3)
print(set)

{1, 4, 6, 'apple'}

#### intersection()
Returns a set,that is the intersection of two other sets.

In [12]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
z=set1.intersection(set2)
print(z)

{1, 3}

In [14]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
set3={3,8,9}
z=set1.intersection(set2,set3)
print(z)

{3}

#### intersection_update()
It removes the unwanted items from the original set.

In [15]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
set1.intersection_update(set2)
print(set1)

{1, 3}

In [16]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
set3={3,8,9}
set1.intersection_update(set2,set3)
print(set1)

{3}

#### isdisjoint()
Returns whether two sets have a intersection or not.

In [17]:
set1={1,3,4,'apple',6}
set2={1,2,3,5}
z=set1.isdisjoint(set2)
print(z)

False

In [18]:
set1={1,3,5}
set2={2,4,8}
z=set1.isdisjoint(set2)
print(z)

True

#### issubset()
Returns whether another set contains this set or not.

In [19]:
set1={1,2,3}
set2={1,4,5,3,2}
z=set1.issubset(set2)
print(z)

True

#### issuperset()
Returns whether this set contains another set or not.

In [21]:
set1={1,2,3}
set2={1,4,5,3,2}
z=set2.issuperset(set1)
print(z)

True

#### pop()
Removes random element from the set

In [26]:
set={1,3,4,'apple',6}
set.pop()
print(set)

{3, 4, 6, 'apple'}

#### remove()
Removes the specified element.This method is different from the discard() method,because the remove() method will raise an error if the specified item does not exist,and the discard() method will not.

In [29]:
set={1,3,4,'apple',6}
set.remove(3)
print(set)

{1, 4, 6, 'apple'}

#### symmetric_difference()
Returns a set with the symmetric differences of two sets.

In [31]:
set1={1,2,3,7}
set2={1,4,5,3,2}
z=set1.symmetric_difference(set2)
print(z)

{4, 5, 7}

#### symmetric_difference_update()
Removes the items that are present in both sets and insert the items that is not present in both sets.

In [34]:
set1={1,2,3,7}
set2={1,4,5,3,2}
set1.symmetric_difference_update(set2)
print(set1)

{4, 5, 7}

#### union()
Return a set containing the union of sets.

In [36]:
set1={1,2,3,7}
set2={1,4,5,3,2}
z=set1.union(set2)
print(z)

{1, 2, 3, 4, 5, 7}

#### update()
Update the set with another set,or any other iterable.

In [37]:
x={'apple','banana','cherry'}
y={'google','ParamVista','cherry'}
x.update(y)
print(x)

{'ParamVista', 'banana', 'google', 'cherry', 'apple'}

#### copy()
Returns a copy of the set.

In [38]:
y={'google','ParamVista','cherry'}
z=y.copy()
print(z)

{'ParamVista', 'google', 'cherry'}

#### clear()
Removes all the elements from the set.

In [39]:
y={'google','ParamVista','cherry'}
y.clear()
print(y)

set()