## Tuple:
Tuples are used to store multiple items in a single variable.A tuple is a collection which is ordered,unchangeable,and allow duplicate values.

In [1]:
#Create a Tuple
mytuple=('geology','b','cherry','exam')
print(mytuple)

('geology', 'b', 'cherry', 'exam')

### Tuple length

In [2]:
mytuple=('geology','b','cherry','exam')
print(len(mytuple))

4

### Data type of a tuple

In [3]:
mytuple=('geology','b','cherry','exam')
print(type(mytuple))

<class 'tuple'>

### Access tuple items

In [4]:
mytuple=('geology','b','cherry','exam')
print(mytuple[2])

cherry

In [5]:
mytuple=('geology','b','cherry','exam')
print(mytuple[-1])

exam

In [6]:
mytuple=('geology','b','cherry','exam')
print(mytuple[1:3])

('b', 'cherry')

In [7]:
mytuple=('geology','b','cherry','exam')
print(mytuple[:3])

('geology', 'b', 'cherry')

In [8]:
mytuple=('geology','b','cherry','exam')
print(mytuple[0:])

('geology', 'b', 'cherry', 'exam')

### Update tuple
Since tuples are unchangeable or immutable.For updating tuple, we have to convert tuple into a list.

#### Change tuple values

In [9]:
x = ('geology', 'b', 'cherry', 'exam')
y = list(x)
y[2] = 'vento'
x = tuple(y)
print(x)

('geology', 'b', 'vento', 'exam')

#### Add items

In [11]:
#convert into a list
x = ('geology', 'b', 'cherry', 'exam')
y=list(x)
y.append('orange')
x=tuple(y)
print(x)

('geology', 'b', 'cherry', 'exam', 'orange')

In [12]:
#add tuple to a tuple
x = ('geology', 'b', 'cherry', 'exam')
y=('orange',)
x+=y
print(x)

('geology', 'b', 'cherry', 'exam', 'orange')

### Unpack Tuples
When we create a tuple,we normally assign values to it.But in python ,we are also allowed to extract the values back into a variables.This is called 'unpacking'.

In [13]:
mytuple=('geology','b','cherry','exam')
(p,q,r,s)=mytuple
print(p)
print(q)
print(r)
print(s)

geology
b
cherry
exam

### Loop Tuples

#### for loop

In [14]:
mytuple=('geology','b','cherry','exam')
for i in mytuple:
    print(i)

geology
b
cherry
exam

#### while loop

In [16]:
mytuple=('geology','b','cherry','exam')
i=0
while i<len(mytuple):
    print(mytuple[i])
    i=i+1

geology
b
cherry
exam

### Join Tuples

In [17]:
tuple1=('stat','math','science')
tuple2=(1,2,3,4)
tuple3=tuple1+tuple2
print(tuple3)

('stat', 'math', 'science', 1, 2, 3, 4)

### Multiply Tuples

In [18]:
mytuple=('stat','math','science')
tuple1=mytuple*2
print(tuple1)

('stat', 'math', 'science', 'stat', 'math', 'science')

### Tuple Methods

#### count()
Returns the number of times a specified value occurs in a tuple.

In [19]:
thistuple=(1,2,3,4,2,6,2,5,7,2)
x=thistuple.count(2)
print(x)

4

#### index()
Searches the tuple for a specified value and returns the position of where it was found.

In [20]:
thistuple=(1,2,3,4,2,6,2,5,7,2)
x=thistuple.index(6)
print(x)

5