# List: 
 Lists are used to store multiple items in a single variable.List items are ordered,changeable,and allow duplicate values.List can be either homogeneous or heterogeneous.

In [1]:
# Create a list:
list=[1,'a','history','apple']
print(list)

[1, 'a', 'history', 'apple']

### Access List Items:
List items are access using index number

In [2]:
list=[1,'a','history','apple']
print(list[1])

a

In [3]:
list=[1,'a','history','apple']
print(list[-1])

apple

In [4]:
list=[1,'a','history','apple']
print(list[0:3])

[1, 'a', 'history']

### Change item value:
To change the value of specific item,refer to the index number

In [5]:
list=[1,'a','history','apple']
list[1]='pen'
print(list)

[1, 'pen', 'history', 'apple']

In [6]:
list=[1,'a','history','apple']
list[1:3]=['biology','b']
print(list)

[1, 'biology', 'b', 'apple']

## List Methods

#### append():
Adds an element at the end of the list

In [8]:
list=[1,'a','history','apple']
list.append('data science')
print(list)

[1, 'a', 'history', 'apple', 'data science']

In [ ]:
#adds a list to a list
list1=[1,'a','history','apple']
list2=['b','BMW','cherry']
list1.append(list2)
print(list1)

### extend()
Add the elements of a list to the end of the current list.

In [10]:
list1=[1,'a','history','apple']
list2=['b','BMW','cherry']
list1.extend(list2)
print(list1)

[1, 'a', 'history', 'apple', 'b', 'BMW', 'cherry']

In [11]:
#add tuple to the list
list1=[1,'a','history','apple']
list2=('b','BMW','cherry')
list1.extend(list2)
print(list1)

[1, 'a', 'history', 'apple', 'b', 'BMW', 'cherry']

### index()
Return index of the first element with the specified value.

In [12]:
list=[1,'a','history','apple']
x=list.index('history')
print(x)

2

In [13]:
list1=[1,4,5,4,23]
y=list1.index(4)
print(y)

1

### insert()
Adds an element at the specified position.

In [1]:
list=[1,'a','history','apple']
list.insert(2,'orange')
print(list)

[1, 'a', 'orange', 'history', 'apple']

### pop()
Removes the element at the specified position.

In [2]:
list=[1,'a','history','apple']
list.pop(2)
print(list)

[1, 'a', 'apple']

In [3]:
#return the removed element
list=[1,'a','history','apple']
x=list.pop(2)
print(x)

history

### remove()
Removes the item with the specified value.

In [4]:
list=[1,'a','history','apple']
list.remove('history')
print(list)

[1, 'a', 'apple']

### reverse()
Reverses the order of the list.

In [6]:
list=[1,'a','history','apple']
list.reverse()
print(list)

['apple', 'history', 'a', 1]

### sort()
Sorts the list.

In [8]:
list=['volvo','ford','history','apple']
list.sort()
print(list)

['apple', 'ford', 'history', 'volvo']

In [9]:
#sort the list descending
list=['volvo','ford','history','apple']
list.sort(reverse=True)
print(list)

['volvo', 'history', 'ford', 'apple']

### count()
Returns the number of elements with the specified value.

In [10]:
list=['volvo','ford','history','apple']
x=list.count('apple')
print(x)

1

### copy()
Returns a copy of the list.

In [11]:
list=['volvo','ford','history','apple']
x=list.copy()
print(x)

['volvo', 'ford', 'history', 'apple']

### clear()
Removes all the elements from the list.

In [12]:
list=['volvo','ford','history','apple']
list.clear()
print(list)

[]